/* Common css */
.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    min-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}
.logo h2 span{
    color: #FD6E0A;
}
nav .nav-item{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;

}
nav .nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}