/* Common css */
/* .btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
} */

.btn {
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: white !important;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 25px 38px, bottom right;
    margin-bottom: 130px;
}
nav{
    width: 71%;
    min-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}
.logo h2 span{
    color: #FD6E0A;
}
nav .nav-item{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;

}
nav .nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    margin: 38px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.btn-container{
    display: flex;
    gap: 30px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.white-btn{
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    cursor: pointer;
    background-color: #FFF8F3;
}
.banner-img img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    margin-bottom: 130px;
}
#about .container{
    background-color: #FFF8F3;
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
#about .container .about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h3{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}
#skills{
    margin-bottom: 130px;
}
#skills .skills-container{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000010;
    border-radius: 5px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

#resume .section-heading h2{
    margin-bottom: 113px;
}
.resume-container{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 31px;
    margin-bottom: 50px;

}
.education h2, .experience h2{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.resume-card{
    padding: 30px 0;
}
.resume-card h3{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.resume-card h6{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-card p{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}
hr{
    color: #D1D1D1;   
}
.text-center{
    text-align: center;
    margin-bottom: 113px;
}

footer{
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;

}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 24px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.social{
    max-width: 562px;
}
.social a {
    margin-right: 20px;
}
.footer-container form input, .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
